In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import sys
import os
sys.path.append(os.path.abspath(os.path.join('..')))
from src.web_scraping import *
from src.data_cleaning import *

pd.options.display.float_format = lambda x: f'{x:,.2f}'

ModuleNotFoundError: No module named 'src.utils'

In [2]:
df = pd.read_parquet('./DATASETS/finally_data.parquet')
df.head()

,data,esfera,uf,ajustes,ec123,coun,vaaf,vaar,vaat,fpe,fpm,icms,ipi,ipva,itcmd,itr,lc8796,ajuste,total
index,,,,,,,,,,,,,,,,,,,
0,2007-01-01,ESTADUAL,AC,False,0.00,0.00,0.00,0.00,0.00,"9,679,990.36","1,582,026.94","3,147,424.17","3,548.46",0.00,0.00,0.00,0.00,0.00,"14,412,989.93"
2,2007-01-01,ESTADUAL,AL,False,0.00,0.00,0.00,0.00,0.00,"4,649,019.37","2,800,656.42","2,781,356.76","25,488.94",0.00,0.00,0.00,0.00,0.00,"10,256,521.49"
4,2007-01-01,ESTADUAL,AM,False,0.00,0.00,0.00,0.00,0.00,"5,436,974.54","2,819,795.95","19,285,518.14","401,249.83",0.00,0.00,0.00,0.00,0.00,"27,943,538.46"
6,2007-01-01,ESTADUAL,AP,False,0.00,0.00,0.00,0.00,0.00,"11,417,469.66","1,212,373.05","3,657,493.01","24,441.51",0.00,0.00,0.00,0.00,0.00,"16,311,777.23"
8,2007-01-01,ESTADUAL,BA,False,0.00,0.00,0.00,0.00,0.00,"8,860,187.40","8,866,635.04","17,745,924.57","569,490.71",0.00,0.00,0.00,0.00,0.00,"36,042,237.72"

# TESTE

In [3]:
x = df.loc[(df['data']>='2023-01-01') & (df['data']<'2024-01-01')]
x.head()

,data,esfera,uf,ajustes,ec123,coun,vaaf,vaar,vaat,fpe,fpm,icms,ipi,ipva,itcmd,itr,lc8796,ajuste,total
index,,,,,,,,,,,,,,,,,,,
20736,2023-01-01,ESTADUAL,AC,False,0.00,0.00,0.00,0.00,0.00,"60,482,334.23","10,572,755.89","20,824,739.20","9,323.17","1,391,416.54","133,506.03","3,503.19",0.00,0.00,"93,417,578.25"
20738,2023-01-01,ESTADUAL,AL,False,0.00,0.00,"24,111,242.93","1,102,103.59",0.00,"32,240,575.43","17,937,195.40","31,924,334.81","14,123.81","2,997,562.43","198,837.05","16,762.07",0.00,0.00,"110,542,737.52"
20740,2023-01-01,ESTADUAL,AM,False,0.00,0.00,"136,603,516.41","1,386,780.74",0.00,"36,811,992.74","20,568,962.00","96,128,835.68","190,452.54","3,750,330.96","459,031.95","6,814.18",0.00,0.00,"295,906,717.20"
20742,2023-01-01,ESTADUAL,AP,False,0.00,0.00,0.00,"345,207.19",0.00,"59,580,994.71","7,213,674.32","15,679,804.13","62,216.31","1,184,772.19","21,736.69","1,291.14",0.00,0.00,"84,089,696.68"
20744,2023-01-01,ESTADUAL,BA,False,0.00,0.00,"270,039,562.95","2,223,167.88",0.00,"73,659,292.52","76,481,834.71","102,205,788.36","1,164,138.72","10,092,170.74","838,027.80","113,848.96",0.00,0.00,"536,817,832.64"

In [4]:
x.total.sum() # 968996614.90

271000624049.03

In [15]:
data = df.groupby(['data', 'esfera']).sum()
data = data.loc[(data.index.get_level_values(0)>='2024-01-01') & (data.index.get_level_values(0)<'2024-04-01')]
data.total.sum()

C:\Users\adria\AppData\Local\Temp\ipykernel_8180\1358822985.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data = df.groupby(['data', 'esfera']).sum()

36951252368.94